body {
    background-color: white;
}
a {
    text-decoration: none;
}
.logo-page {
    color: #2196F3;
}
.hidden {
    display: none;
}
.footer {
    background-color: #2F303A;
}
button:hover {
    background-color: #2196F3;
}


